mixin forminfo(value, type, class1)

          .content-item__str
            .content-item__str__txt
              span.change-txt= value
              input(type=type, class="inp-change", class=class1)
              span.change-btn изменить