$xs = "(max-width: 480px)"
$sm = "(min-width: 481px) and (max-width: 768px)"
$md = "(min-width: 769px) and (max-width: 980px)"
$lg = "(min-width: 981px)"


body
  background-color #f4f4f4
  font 14px/1 Verdana, sans-serif
  color #333

h1
h2
h3
p
  margin 0
  padding 0
  
@font-face 
  font-family "opensansbold"
  src local("opensansbold"), url("../fonts/opensansbold.eot"), url("../fonts/opensansbold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.ttf") format("truetype"), url("../fonts/opensansbold.svg") format("svg")
  font-weight bold
  font-style normal
  
h1 
  font 24px/30px opensansbold, sans-serif
  text-transform uppercase
  margin-bottom 25px
  font-weight 700
  letter-spacing 1.2px
h2 
  font 18px/18px Verdana, sans-serif
  margin-bottom 20px
  font-weight 400
h3 
  font 14px/14px opensansbold, sans-serif
  text-transform uppercase
  margin-bottom 10px
  font-weight 700
  
  
.wrapper
  width 100%
  border-left 1px solid #d5d5d5
  margin 0 auto 
  position relative
  background-color #fff
  padding 18px 20px 50px 30px
  box-sizing border-box
  overflow hidden
  @media $xs 
    max-width 320px
    width 300px
  @media $sm 
    max-width 480px
  @media $md 
    max-width 768px
  @media $lg 
    max-width 970px
    
  &:before
    content: ''
    border-left 1px solid #d5d5d5
    left 2px
    top 0
    position absolute
    min-height 1500px
  &:after 
    content: ''
    border-left 1px solid #d5d5d5
    left 5px
    top 0
    position absolute
    min-height 1500px


.content-l 
  width 100%
  @media $md
    width 66.1%
    float left
  @media $lg
    width 66.1%
    float left
    

.content-item
  margin-bottom 45px
  &__str
    border 1px solid #d5d5d5
    border-bottom 0
    font-size 14px
    width 100%
    &:last-child
      border-bottom 1px solid #d5d5d5
    &__txt
      display table
      padding 9px 13px 9px 12px
      box-sizing border-box
      width 100%
      &:hover 
        background-color #f4f4f4
        .change-btn 
          color #e85a22
        .change-txt
          color #333
          border 1px solid #f4f4f4
      span
        display table-cell
  &__row
    overflow hidden
    margin-bottom 6px
    min-height 20px
    p 
      margin-bottom 15px

.inp-change
  display none
  height 26px
  line-height 28px
  padding-left 5px
  border 1px solid #d5d5d5
  @media $xs
    width 130px
  @media $sm
    width 250px
  @media $md
    width 300px
  @media $lg
    width 300px

.change-btn
.save
  text-align right
  font-size 12px
  color #aaa
  text-decoration underline
  cursor pointer
.change-btn
  color #aaa
.save
  color #e85a22
.change-txt
  color #aaa
  border 1px solid #fff
  height 28px
  line-height 28px
  width 300px
  padding-left 5px
.change-txt.chosen 
  color #333

.test {
  display none
}

.change-addr
  border 1px solid #d5d5d5
  box-sizing border-box
  padding 17px 0 27px 20px

.change-addr.active 
  background-color #f4f4f4

.change-addr-btn {
  float right
  margin-right 10px
}
.inp-radio
  display none
.inp-radio+label
  background url(images/inp-radio.png) 0 -21px no-repeat
  padding 3px 0 1px 30px
  line-height 1.8
  font-size 12px
  cursor pointer
.inp-radio:checked+label
    background-position -21px 0
.btn-addr
  background-color #cdc9c7
  color #fff
  border 0
  border-radius 0
  border-bottom 2px solid #bcb8b6
  line-height 30px
  padding 0 15px
  display inline-block
  margin-top 21px
  font-size 12px
  :focus
    outline none

.inp-addr
  width 430px
  height 28px
  padding 0 5px
  font-size 12px
  border 1px solid #d5d5d5
  border-top 0

.del
  display none 
  font-size 12px
  color #e85a22
  text-decoration underline
  cursor pointer
  float: right;
  margin-right: 15px;
  line-height 18px
    
.inp-check
  display none
.inp-check+label 
  background url(images/inp-check.png) -18px 0 no-repeat
  padding 0px 0 1px 30px
  line-height 1.4
  display block
  cursor pointer
.inp-check:checked+label
    background-position 0 -18px

.add-new-addr
  border-top 1px solid #d5d5d5
  margin-left -13px
  padding 13px 0 0 13px
  display none
  input
    height 28px
    border 1px solid #d5d5d5
  .subm-addr 
    background-color #e85a22
    color #fff 
    font-size 12px
    border 0
    border-bottom 2px solid #cb4815
    float right
    margin-right 15px
  &__item 
    width 31%
.inp-index
  width 175px
  padding 0 5px
  font-size 12px
.inp-addr
  width 533px
  margin 10px 0 20px



.content-r 
  width 100%
  @media $md 
    width 31.3% 
    float right
  @media $lg 
    width 31.3% 
    float right

.social
  background-color #fff6e0
  margin-top: -20px;
  padding: 24px 11px 20px 15px
  h3 
    margin-bottom 17px
  p
    font-size 12px
    margin-bottom 22px
    line-height 1.3
.lnk
  &__item
    display block
    height 40px
    line-height 40px
    color #fff
    text-decoration none
    padding-left 57px
    margin-bottom 15px
    position relative
    margin-right 5px
    transition opacity .5s linear
    &:hover 
      opacity .8
      transition opacity .5s linear
    &:before
      content ''
      position absolute
      width 40px
      height 34px
      left 8px
      background url(images/soc-sprite.png) no-repeat
    &--fb
      background-color #1d59a3
      &:before
        background-position 50% 12px
    &--vk
      background-color #1c608d
      &:before
        background-position 50% -28px
    &--tw
      background-color #00b2e6
      &:before
        background-position 50% -68px
    &--ok
      background-color #ef7800
      &:before
        background-position 50% -108px
    